*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #1a202c;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #272f41;
  color: white;
  padding: 1rem 10rem;
  border: 1px solid #1c3669;
}

.menu{
  display: flex;
  list-style: none;
}

.menu li{
  margin-left: 1.5rem;
  font-size: 1.2rem;
}